@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;
}



main{
  
  background: url(imgs/bg.svg) no-repeat center / cover ;
  display: flex;
  justify-content: center;
  align-items: center ;
  width: 100vw;
  height: 100vh;
  
}

.container{
  max-width: 250px;
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.avatar{
  display: flex;
  justify-content: center;
  position: relative;
  
}

.avatar span{
  position: absolute;
  top: -18px;
  left: 43px;
  z-index: 1;
}

.userFoto{
  width: 160px;
  height: 184px;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.name{
  font-size: 25px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 4px;
}

.github{
  display: flex;
  justify-content: center;
  align-items: center;
}

.github img{
  margin-right: 10px;
}

.github a{
  text-decoration: none;
  font-weight: 300;
}

p{
  font-weight: 400;
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
}

ul{
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding: 0 40px;
}

li{
  list-style: none;

}